# ChromaDB
CHROMA_PERSIST_DIR=
CHROMA_COLLECTION_NAME=

# Embedding
EMBEDDING_MODEL=

# Search
TOP_K=3

# Notion
NOTION_API_KEY=
NOTION_DATABASE_ID=
NOTION_FILTER_STATUS=公開中
NOTION_API_SLEEP=0.4

# Chunk
CHUNK_SIZE=300
CHUNK_OVERLAP=50